[Unit]
Description=CitadelDB Backup Job
After=citadeldb.service

[Service]
Type=oneshot
WorkingDirectory=/opt/citadeldb
ExecStart=/opt/citadeldb/cli/citadel backup-now
